php_flag magic_quotes_gpc Off
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /index.php [QSA,L]

ErrorDocument 403 /

<Files "*.json">
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "\.(js|css)$">
        FileETag None
        Header set Cache-Control "max-age=604800, public, must-revalidate"
        Header set Expires "Thu, 30 Jun 2015 20:00:00 GMT"
</FilesMatch>