body {
    background: #efefef;
}

h1,h2,h3{
    font-family: "Adelle","Roboto Slab","Chaparall","Georgia","Times","Times New Roman",serif;
    font-weight: 600;
}

h1{
    font-size: 6rem;
}

.main {
    margin-bottom: 20px;
}

.entry {
    margin-bottom: 20px;
}

.element {
    padding: 20px;
    background: white;
}

.glyphicon-refresh-animate {
    -webkit-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(1turn);
    }
}

@-webkit-keyframes rotate {
     100%{
         -webkit-transform: rotate(1turn);
     }
 }
