{% extends "index.twig" %}

{% block navitems %}
    <li><a href="/">Home</a></li>
    <li><a href="/login/">Login</a></li>
{% endblock %}

{% block main %}
    <article class="element entry clearfix">
        <h2>Error</h2>

        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ type }} {{ error.msg }} not found!
        </div>
    </article>
{% endblock %}