<!DOCTYPE html>
<html lang="de_CH">
<head>
    {% block head %}
        <title>{{ options.title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap.css"/>
        <link rel="stylesheet" href="/thepost/View/Templates/css/style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8"/>
    {% endblock %}
</head>
<body class="container">
<h1 class="container hidden-xs">{{ options.title }}</h1>
{% block nav %}
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs-block" href="#">{{ options.title }}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% block navitems %}
                <li class="active"><a href="/">Home</a></li>
            {% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% block authentication %}
                {% if authentication.login %}
                    <p class="navbar-text">Logged in as {{ authentication.username }}</p>
                    <li><a href="/logout/" class="navbar-link">Logout</a></li>
                {% else %}
                    <li><a href="/login/">Login</a></li>
                {% endif %}
            {% endblock %}
        </ul>
    </div>
</nav>
{% endblock %}