<!DOCTYPE html>
<html lang="de_CH">
<head>
    {% block head %}
        <title>{{ options.title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/thepost/View/Templates/css/style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8"/>
    {% endblock %}
