<html lang="de_CH">
<head>
    <title>Installation | Your Blog</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container">
<div class="container-fluid">
    <div class="content row">
        <main class="main col-md-8">
            <form class="element clearfix" name="installForm" id="installForm" method="post" action="/install/publish"
                  autocomplete="off">
                <h1>Install</h1>
                {% if error.true %}
                    <p class="alert alert-danger">{{ error.msg|raw }}</p>
                {% endif %}
                <p>Here you can set the basic settings.</p>
                <section class="section">
                    <h2>Database</h2>

                    <p>Please type in your database authentication.</p>

                    <p class="alert alert-info">Currently only MySQL with InnoDB is supported.</p>

                    <div class="form-group">
                        <label for="database_location">Database Location</label>
                        <input type="text" class="form-control" id="database_location" name="database[location]"
                               placeholder="Database Location" value="localhost" required>

                        <p class="help-block">Enter the address of your database, if you host your database among your
                            webhost, use "localhost".</p>
                    </div>
                    <div class="form-group">
                        <label for="database_port">Database Port</label>
                        <input type="number" class="form-control" id="database_port" name="database[port]" value="3306"
                               required>

                        <p class="help-block">Enter the port of your database. Normally the port is 3306 </p>
                    </div>
                    <div class="form-group">
                        <label for="database_username">Database User</label>
                        <input type="text" class="form-control" id="database_username" name="database[username]"
                               placeholder="Database User" required>

                        <p class="help-block">Please type in your database authentication.</p>
                    </div>
                    <div class="form-group">
                        <label for="database_name">Database Name</label>
                        <input type="text" class="form-control" id="database_name" name="database[name]"
                               placeholder="Database Name" required>

                        <p class="help-block">Your database needs CREATE, INSERT, UPDATE and DELETE permission.</p>
                    </div>
                    <div class="form-group">
                        <label for="database_password">Database Password</label>
                        <input type="password" class="form-control" id="database_password" name="database[password]"
                               placeholder="Database Password" required>

                        <p class="help-block">Please type in your database password.</p>
                    </div>
                </section>
                <section class="section">
                    <h2>Admin Authentication</h2>

                    <p>Please type in your authentication.</p>

                    <div class="form-group">
                        <label for="user_username">Username</label>
                        <input type="text" class="form-control" id="user_username" name="user[username]"
                               placeholder="Username" value="Admin" required>
                    </div>
                    <div class="form-group">
                        <label for="user_email">E-Mail</label>
                        <input type="email" class="form-control" id="user_email" name="user[email]"
                               placeholder="info@chuun.ninja" required>

                        <p class="help-block">Enter your E-Mail Address, this will be used for your authentication. </p>
                    </div>
                    <div class="form-group">
                        <label for="user_password">Create a password</label>
                        <input type="password" class="form-control" id="user_password" name="user[password]" required>

                        <p class="help-block">Please create a password.</p>
                    </div>
                    <div class="form-group">
                        <label for="user_password_verify">Confirm your password</label>
                        <input type="password" class="form-control" id="user_password_verify"
                               name="user[password_verify]" onkeyup="checkPass(); return false;" required>

                        <p class="help-block">Reenter your previous password.</p>

                        <div hidden class="alert alert-warning" id="confirmMessageDiv" role="alert">
                            <p id="confirmMessage" class="confirmMessage"></p>
                        </div>

                    </div>
                </section>
                <section class="section">
                    <h2>Information</h2>

                    <div class="form-group">
                        <label for="title">Blog Title</label>
                        <input type="text" class="form-control" id="title" name="setting[title]" value="Blog Title"
                               required>

                        <p class="help-block">The title/logo of your blog.</p>
                    </div>
                    <h3>Welcome Widget</h3>

                    <p>The title of the right </p>

                    <div class="form-group">
                        <label for="welcome_title">Welcome Widget Title</label>
                        <input type="text" class="form-control" id="welcome_title" name="setting[welcome_title]"
                               placeholder="Welcome Widget Title" required>

                    </div>
                    <div class="form-group">
                        <label for="welcome_content">Welcome Widget Content</label>
                        <textarea class="form-control" id="welcome_content" name="setting[welcome_content]"
                                  placeholder="Welcome Widget Content"></textarea>

                    </div>
                </section>
                <section class="section">
                    <h2>Styles</h2>

                    <p class="bs-callout bs-callout-warning" role="alert">Don't be afraid :). You can still set these
                        settings later.</p>

                    <div class="form-group">
                        <label for="style_backgroundcolor_text">Background Color</label>

                        <div class="input-group">
                            <span class="input-group-addon"><input type="color" class="color" id="style_backgroundcolor"
                                                                   name="setting[style_backgroundcolor]" value="#EFEFEF"
                                                                   onchange="$('#style_backgroundcolor_text').val($(this).val())"></span>
                            <input type="text" class="form-control" id="style_backgroundcolor_text"
                                   name="style_backgroundcolor_text" value="#EFEFEF"
                                   onchange="$('#style_backgroundcolor').val($(this).val())" required>
                        </div>
                        <p class="help-block">Background color.</p>
                    </div>
                    <div class="form-group">
                        <label for="style_h2color_text">Heading 2 font color.</label>

                        <div class="input-group">
                            <span class="input-group-addon"><input type="color" class="color" id="style_h2color"
                                                                   name="setting[style_h2color]" value="#3873de"
                                                                   onchange="$('#style_h2color_text').val($(this).val())"></span>
                            <input type="text" class="form-control" id="style_h2color_text" name="style_h2color_text"
                                   value="#3873de" onchange="$('#style_h2color').val($(this).val())" required>
                        </div>
                        <p class="help-block">The font color of <code>&lt;h2&gt;</code> Heading 2.</p>
                    </div>
                    <div class="form-group">
                        <label for="style_h2color_hover_text">Heading 2 hover font color.</label>

                        <div class="input-group">
                            <span class="input-group-addon"><input type="color" class="color" id="style_h2color_hover"
                                                                   name="setting[style_h2color_hover]" value="#23527C"
                                                                   onchange="$('#style_h2color_hover_text').val($(this).val())"></span>
                            <input type="text" class="form-control" id="style_h2color_hover_text"
                                   name="style_h2color_hover_text" value="#23527C"
                                   onchange="$('#style_h2color_hover').val($(this).val())" required>
                        </div>
                        <p class="help-block">The font color of <code>&lt;h2&gt;</code> Heading 2 when hovered.</p>
                    </div>
                </section>
                <div hidden class="alert alert-warning" id="passwordsAlert" role="alert">
                    <p>Your passwords do not match!</p>
                </div>
                <button class="btn btn-primary pull-right" type="button" onclick="checkSubmit()" id="submitButton"
                        name="submitbtn">
                    Publish Blog
                </button>
            </form>
        </main>
        <aside class="col-md-4 hidden-sm hidden-xs">
            <article class="element widget" id="widget">
                <h3>Willkommen </h3>

                <p>Das ist dein Blog.</p>
            </article>
        </aside>
    </div>
</div>
<footer class="container">
    © Post CH AG
</footer>
</body>
</html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/ThePost/View/Templates/css/style.min.css">
<style>
    /* User Styles */
    body {
        background-color: #EFEFEF;
    }
</style>
<script src="/ThePost/View/Templates/js/validation.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>