{% extends "index.twig" %}

{% block main %}

    <form action="/register/submit/" method="post" role="form" class="element">
        <h2>Register</h2>

        {% if register.failed %}
            <p class="alert alert-danger">Sorry, username or email already used!</p>
        {% endif %}

        <div class="form-group">
            <label for="user_username">Username</label>
            <input type="text" class="form-control" id="user_username" name="user[username]"
                   placeholder="Username" value="Admin" required>
        </div>
        <div class="form-group">
            <label for="user_email">E-Mail</label>
            <input type="email" class="form-control" id="user_email" name="user[email]"
                   placeholder="info@chuun.ninja" required>

            <p class="help-block">Enter your E-Mail Address, this will be used for your authentication. </p>
        </div>
        <div class="form-group">
            <label for="user_password">Create a password</label>
            <input type="password" class="form-control" id="user_password" name="user[password]" required>

            <p class="help-block">Please create a password.</p>
        </div>
        <div class="form-group">
            <label for="user_password_verify">Confirm your password</label>
            <input type="password" class="form-control" id="user_password_verify"
                   name="user[password_verify]" onkeyup="checkPass(); return false;" required>

            <p class="help-block">Reenter your previous password.</p>

            <div hidden class="alert alert-warning" id="confirmMessageDiv" role="alert">
                <p id="confirmMessage" class="confirmMessage"></p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" name="register">Register</button>
    </form>

{% endblock %}


{% block scripts %}
    <script src="/ThePost/View/Templates/js/validation.min.js"></script>
{% endblock %}